In [1]:
# Import Dependencies
import pandas as pd
import datetime as dt

In [2]:
# Read Crime Data
crime_data = pd.read_csv("p_data.csv")

# Read CTA Data
cta_data = pd.read_csv("CTA_-_Ridership_-_Daily_Boarding_Totals.csv")

# Rename CTA Columns
cta_data.columns = ["Date", "Day Type", "Bus", "Rail Boardings", "Total Rides"]

In [3]:
# Display CTA Data
cta_data

            Date Day Type     Bus  Rail Boardings  Total Rides
0     01/01/2001        U  297192          126455       423647
1     01/02/2001        W  780827          501952      1282779
2     01/03/2001        W  824923          536432      1361355
3     01/04/2001        W  870021          550011      1420032
4     01/05/2001        W  890426          557917      1448343
...          ...      ...     ...             ...          ...
7056  02/25/2020        W  781725          693749      1475474
7057  02/26/2020        W  756936          682501      1439437
7058  02/27/2020        W  778992          698886      1477878
7059  02/28/2020        W  786008          665937      1451945
7060  02/29/2020        A  458601          337983       796584

[7061 rows x 5 columns]

In [4]:
# Identify Incomplete Rows
cta_data.count()

Date              7061
Day Type          7061
Bus               7061
Rail Boardings    7061
Total Rides       7061
dtype: int64

In [5]:
# Display Crime Data
crime_data

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,25021,JD204167,04/07/2020,002XX S STATE ST,0110,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" PLATFORM",True,False,...,42.0,32.0,01A,1176417.0,1899156.0,2020,04/14/2020 03:49:15 PM,41.878639,-87.627691,"(41.878638996, -87.627691486)"
1,23431,JA340827,07/09/2017,000XX W 95TH ST,0110,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" PLATFORM",True,False,...,21.0,49.0,01A,1177762.0,1841949.0,2017,11/12/2019 03:55:53 PM,41.721627,-87.624485,"(41.721627204, -87.624485177)"
2,24644,JC347217,07/13/2019,001XX W CERMAK RD,0110,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" PLATFORM",True,False,...,25.0,34.0,01A,1175616.0,1889758.0,2019,07/20/2019 04:13:10 PM,41.852868,-87.630915,"(41.852868298, -87.63091491)"
3,19823,HT223608,03/29/2011,009XX W FULLERTON AVE,0110,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" PLATFORM",True,False,...,43.0,7.0,01A,1169577.0,1916141.0,2011,03/19/2019 04:11:22 PM,41.925398,-87.652311,"(41.925398449, -87.652311296)"
4,20824,HW194557,03/16/2013,003XX E 43RD ST,0110,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" PLATFORM",True,False,...,3.0,38.0,01A,1178941.0,1876568.0,2013,03/19/2019 04:11:22 PM,41.816599,-87.619114,"(41.816598679, -87.619113763)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110575,9997762,HY187975,03/11/2015,004XX S WESTERN AVE,0820,THEFT,$500 AND UNDER,CTA TRAIN,False,True,...,2.0,28.0,06,1160478.0,1897731.0,2015,02/10/2018 03:50:01 PM,41.875073,-87.686256,"(41.875073359, -87.68625556)"
110576,9997920,HY187954,03/16/2015,001XX W LAKE ST,0870,THEFT,POCKET-PICKING,CTA TRAIN,True,False,...,42.0,32.0,06,1175301.0,1901735.0,2015,02/10/2018 03:50:01 PM,41.885741,-87.631712,"(41.885741029, -87.631711749)"
110577,9997961,HY188039,03/16/2015,001XX W LAKE ST,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,CTA TRAIN,False,False,...,42.0,32.0,11,1175301.0,1901735.0,2015,02/10/2018 03:50:01 PM,41.885741,-87.631712,"(41.885741029, -87.631711749)"
110578,9999035,HY189070,03/17/2015,100XX W OHARE ST,0880,THEFT,PURSE-SNATCHING,CTA TRAIN,False,False,...,41.0,76.0,06,1100658.0,1934241.0,2015,02/10/2018 03:50:01 PM,41.976290,-87.905227,"(41.976290414, -87.905227221)"
110579,9999864,HY189449,03/18/2015,028XX N MILWAUKEE AVE,0820,THEFT,$500 AND UNDER,CTA TRAIN,False,False,...,35.0,21.0,06,1153217.0,1918448.0,2015,02/10/2018 03:50:01 PM,41.932070,-87.712365,"(41.932069855, -87.712364501)"

In [6]:
# Delete Unwanted Columns
del crime_data["ID"]
del crime_data["Case Number"]
del crime_data["IUCR"]
del crime_data["Beat"]
del crime_data["District"]
del crime_data["Ward"]
del crime_data["Community Area"]
del crime_data["FBI Code"]
del crime_data["X Coordinate"]
del crime_data["Y Coordinate"]
del crime_data["Updated On"]

In [7]:
# Identify Incomplete Rows
crime_data.count()

Date                    110580
Block                   110580
Primary Type            110580
Description             110580
Location Description    110580
Arrest                  110580
Domestic                110580
Year                    110580
Latitude                109808
Longitude               109808
Location                109808
dtype: int64

In [8]:
# Drop All Rows With Missing Information
crime_data = crime_data.dropna(how='any')

In [9]:
# Verify Dropped Rows
crime_data.count()

Date                    109808
Block                   109808
Primary Type            109808
Description             109808
Location Description    109808
Arrest                  109808
Domestic                109808
Year                    109808
Latitude                109808
Longitude               109808
Location                109808
dtype: int64

In [10]:
# Display Crime Data
crime_data

,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Year,Latitude,Longitude,Location
0,04/07/2020,002XX S STATE ST,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" PLATFORM",True,False,2020,41.878639,-87.627691,"(41.878638996, -87.627691486)"
1,07/09/2017,000XX W 95TH ST,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" PLATFORM",True,False,2017,41.721627,-87.624485,"(41.721627204, -87.624485177)"
2,07/13/2019,001XX W CERMAK RD,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" PLATFORM",True,False,2019,41.852868,-87.630915,"(41.852868298, -87.63091491)"
3,03/29/2011,009XX W FULLERTON AVE,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" PLATFORM",True,False,2011,41.925398,-87.652311,"(41.925398449, -87.652311296)"
4,03/16/2013,003XX E 43RD ST,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" PLATFORM",True,False,2013,41.816599,-87.619114,"(41.816598679, -87.619113763)"
...,...,...,...,...,...,...,...,...,...,...,...
110575,03/11/2015,004XX S WESTERN AVE,THEFT,$500 AND UNDER,CTA TRAIN,False,True,2015,41.875073,-87.686256,"(41.875073359, -87.68625556)"
110576,03/16/2015,001XX W LAKE ST,THEFT,POCKET-PICKING,CTA TRAIN,True,False,2015,41.885741,-87.631712,"(41.885741029, -87.631711749)"
110577,03/16/2015,001XX W LAKE ST,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,CTA TRAIN,False,False,2015,41.885741,-87.631712,"(41.885741029, -87.631711749)"
110578,03/17/2015,100XX W OHARE ST,THEFT,PURSE-SNATCHING,CTA TRAIN,False,False,2015,41.976290,-87.905227,"(41.976290414, -87.905227221)"
110579,03/18/2015,028XX N MILWAUKEE AVE,THEFT,$500 AND UNDER,CTA TRAIN,False,False,2015,41.932070,-87.712365,"(41.932069855, -87.712364501)"

In [11]:
# Merge CTA and Crime Data
data_complete = pd.merge(cta_data, crime_data, how="outer", on=["Date", "Date"])

# Convert to DataFrame
project_data = pd.DataFrame(data_complete)

# Display New DataFrame
project_data

,Date,Day Type,Bus,Rail Boardings,Total Rides,Block,Primary Type,Description,Location Description,Arrest,Domestic,Year,Latitude,Longitude,Location
0,01/01/2001,U,297192.0,126455.0,423647.0,002XX N LARAMIE AV,CRIMINAL DAMAGE,TO STATE SUP PROP,CTA BUS,False,False,2001,41.884383,-87.755360,"(41.884382699, -87.755359535)"
1,01/01/2001,U,297192.0,126455.0,423647.0,046XX N BROADWAY,ROBBERY,STRONGARM - NO WEAPON,CTA PLATFORM,False,False,2001,41.965917,-87.657969,"(41.965917251, -87.657969065)"
2,01/01/2001,U,297192.0,126455.0,423647.0,015XX W JARVIS AV,CRIMINAL DAMAGE,TO PROPERTY,CTA PLATFORM,True,False,2001,42.015918,-87.669069,"(42.015918091, -87.669068759)"
3,01/01/2001,U,297192.0,126455.0,423647.0,003XX N STATE ST,ROBBERY,STRONGARM - NO WEAPON,CTA PLATFORM,False,False,2001,41.888112,-87.628175,"(41.888112342, -87.628174848)"
4,01/01/2001,U,297192.0,126455.0,423647.0,033XX W BELMONT AV,CRIMINAL DAMAGE,TO VEHICLE,CTA PLATFORM,False,False,2001,41.939177,-87.712270,"(41.939176878, -87.712269825)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110929,04/10/2020,NaN,NaN,NaN,NaN,002XX S STATE ST,NARCOTICS,POSSESS - CRACK,CTA PLATFORM,True,False,2020,41.878639,-87.627691,"(41.878638996, -87.627691486)"
110930,04/10/2020,NaN,NaN,NaN,NaN,032XX W LAKE ST,BATTERY,SIMPLE,CTA STATION,False,False,2020,41.884389,-87.706866,"(41.884389103, -87.706866213)"
110931,04/10/2020,NaN,NaN,NaN,NaN,001XX W CERMAK RD,ASSAULT,SIMPLE,CTA TRAIN,True,False,2020,41.852868,-87.630915,"(41.852868298, -87.63091491)"
110932,04/10/2020,NaN,NaN,NaN,NaN,046XX W MONTROSE AVE,THEFT,POCKET-PICKING,CTA TRAIN,False,False,2020,41.960778,-87.742731,"(41.960778173, -87.742731337)"
110933,04/10/2020,NaN,NaN,NaN,NaN,040XX W LAKE ST,THEFT,OVER $500,CTA TRAIN,False,False,2020,41.885488,-87.726422,"(41.885487535, -87.726422045)"

In [12]:
# Identify Incomplete Rows
project_data.count()

Date                    110934
Day Type                110500
Bus                     110500
Rail Boardings          110500
Total Rides             110500
Block                   110934
Primary Type            110934
Description             110934
Location Description    110934
Arrest                  110934
Domestic                110934
Year                    110934
Latitude                110934
Longitude               110934
Location                110934
dtype: int64

In [13]:
# Assign Date Column to a Variable
all_dates = project_data["Date"]

# Convert All Dates to a Datetime 
[dt.datetime.strptime(x, "%m/%d/%Y") for x in all_dates]

# Replace Date Column with Datetime Values
project_data["Date"] = pd.to_datetime(all_dates)

# Display Modified DataFrame
project_data

,Date,Day Type,Bus,Rail Boardings,Total Rides,Block,Primary Type,Description,Location Description,Arrest,Domestic,Year,Latitude,Longitude,Location
0,2001-01-01,U,297192.0,126455.0,423647.0,002XX N LARAMIE AV,CRIMINAL DAMAGE,TO STATE SUP PROP,CTA BUS,False,False,2001,41.884383,-87.755360,"(41.884382699, -87.755359535)"
1,2001-01-01,U,297192.0,126455.0,423647.0,046XX N BROADWAY,ROBBERY,STRONGARM - NO WEAPON,CTA PLATFORM,False,False,2001,41.965917,-87.657969,"(41.965917251, -87.657969065)"
2,2001-01-01,U,297192.0,126455.0,423647.0,015XX W JARVIS AV,CRIMINAL DAMAGE,TO PROPERTY,CTA PLATFORM,True,False,2001,42.015918,-87.669069,"(42.015918091, -87.669068759)"
3,2001-01-01,U,297192.0,126455.0,423647.0,003XX N STATE ST,ROBBERY,STRONGARM - NO WEAPON,CTA PLATFORM,False,False,2001,41.888112,-87.628175,"(41.888112342, -87.628174848)"
4,2001-01-01,U,297192.0,126455.0,423647.0,033XX W BELMONT AV,CRIMINAL DAMAGE,TO VEHICLE,CTA PLATFORM,False,False,2001,41.939177,-87.712270,"(41.939176878, -87.712269825)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110929,2020-04-10,NaN,NaN,NaN,NaN,002XX S STATE ST,NARCOTICS,POSSESS - CRACK,CTA PLATFORM,True,False,2020,41.878639,-87.627691,"(41.878638996, -87.627691486)"
110930,2020-04-10,NaN,NaN,NaN,NaN,032XX W LAKE ST,BATTERY,SIMPLE,CTA STATION,False,False,2020,41.884389,-87.706866,"(41.884389103, -87.706866213)"
110931,2020-04-10,NaN,NaN,NaN,NaN,001XX W CERMAK RD,ASSAULT,SIMPLE,CTA TRAIN,True,False,2020,41.852868,-87.630915,"(41.852868298, -87.63091491)"
110932,2020-04-10,NaN,NaN,NaN,NaN,046XX W MONTROSE AVE,THEFT,POCKET-PICKING,CTA TRAIN,False,False,2020,41.960778,-87.742731,"(41.960778173, -87.742731337)"
110933,2020-04-10,NaN,NaN,NaN,NaN,040XX W LAKE ST,THEFT,OVER $500,CTA TRAIN,False,False,2020,41.885488,-87.726422,"(41.885487535, -87.726422045)"

In [14]:
# Filter Out Data From After 2019
project_data = project_data[project_data["Date"].dt.year <= 2019]

# Display Modified DataFrame
project_data

,Date,Day Type,Bus,Rail Boardings,Total Rides,Block,Primary Type,Description,Location Description,Arrest,Domestic,Year,Latitude,Longitude,Location
0,2001-01-01,U,297192.0,126455.0,423647.0,002XX N LARAMIE AV,CRIMINAL DAMAGE,TO STATE SUP PROP,CTA BUS,False,False,2001,41.884383,-87.755360,"(41.884382699, -87.755359535)"
1,2001-01-01,U,297192.0,126455.0,423647.0,046XX N BROADWAY,ROBBERY,STRONGARM - NO WEAPON,CTA PLATFORM,False,False,2001,41.965917,-87.657969,"(41.965917251, -87.657969065)"
2,2001-01-01,U,297192.0,126455.0,423647.0,015XX W JARVIS AV,CRIMINAL DAMAGE,TO PROPERTY,CTA PLATFORM,True,False,2001,42.015918,-87.669069,"(42.015918091, -87.669068759)"
3,2001-01-01,U,297192.0,126455.0,423647.0,003XX N STATE ST,ROBBERY,STRONGARM - NO WEAPON,CTA PLATFORM,False,False,2001,41.888112,-87.628175,"(41.888112342, -87.628174848)"
4,2001-01-01,U,297192.0,126455.0,423647.0,033XX W BELMONT AV,CRIMINAL DAMAGE,TO VEHICLE,CTA PLATFORM,False,False,2001,41.939177,-87.712270,"(41.939176878, -87.712269825)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109507,2019-12-31,W,511289.0,431677.0,942966.0,0000X E ROOSEVELT RD,BATTERY,SIMPLE,CTA STATION,False,False,2019,41.867428,-87.626269,"(41.867428235, -87.626269143)"
109508,2019-12-31,W,511289.0,431677.0,942966.0,011XX W GRANVILLE AVE,THEFT,OVER $500,CTA TRAIN,False,False,2019,41.994568,-87.659057,"(41.994567578, -87.65905678)"
109509,2019-12-31,W,511289.0,431677.0,942966.0,0000X N DEARBORN ST,THEFT,POCKET-PICKING,CTA TRAIN,False,False,2019,41.882382,-87.629413,"(41.882381731, -87.629412971)"
109510,2019-12-31,W,511289.0,431677.0,942966.0,0000X N DEARBORN ST,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,CTA TRAIN,False,False,2019,41.882382,-87.629413,"(41.882381731, -87.629412971)"
109511,2019-12-31,W,511289.0,431677.0,942966.0,005XX N STATE ST,ROBBERY,AGGRAVATED,CTA TRAIN,False,False,2019,41.891405,-87.628062,"(41.891404732, -87.628061509)"

In [15]:
# Verify Complete Rows
project_data.count()

Date                    109512
Day Type                109512
Bus                     109512
Rail Boardings          109512
Total Rides             109512
Block                   109512
Primary Type            109512
Description             109512
Location Description    109512
Arrest                  109512
Domestic                109512
Year                    109512
Latitude                109512
Longitude               109512
Location                109512
dtype: int64

In [16]:
# Sort CTA Data by L Ridership Total
highest_l_boarding = cta_data.sort_values("Rail Boardings", ascending=False)

# Isolate Only Date Column
highest_l_boarding = highest_l_boarding["Date"]

# Display Most Popular Days to Ride L
highest_l_boarding

5850    11/04/2016
5753    10/28/2016
5338    06/18/2015
2740    07/03/2008
4592    06/28/2013
           ...
1088    12/25/2003
6665    01/30/2019
723     12/25/2002
358     12/25/2001
1454    12/25/2004
Name: Date, Length: 7061, dtype: object

In [25]:
# Sort CTA Data by L Ridership Total
lowest_l_boarding = cta_data.sort_values("Rail Boardings", ascending=True)

# Isolate Only Date Column
lowest_l_boarding = lowest_l_boarding["Date"]

# Display Least Popular Days to Ride L
lowest_l_boarding

1454    12/25/2004
358     12/25/2001
723     12/25/2002
6665    01/30/2019
1088    12/25/2003
           ...
4592    06/28/2013
2740    07/03/2008
5338    06/18/2015
5753    10/28/2016
5850    11/04/2016
Name: Date, Length: 7061, dtype: object

In [17]:
# Sort CTA Data by Bus Ridership Total
highest_bus_boarding = cta_data.sort_values("Bus", ascending=False)

# Isolate Only Date Column
highest_bus_boarding = highest_bus_boarding["Date"]

# Display Most Popular Days to Ride Bus
highest_bus_boarding

2832    10/03/2008
2830    10/01/2008
2831    10/02/2008
2863    11/03/2008
2808    09/09/2008
           ...
6275    01/01/2018
5892    12/25/2016
6629    12/25/2018
6262    12/25/2017
6665    01/30/2019
Name: Date, Length: 7061, dtype: object

In [27]:
# Sort CTA Data by Bus Ridership Total
lowest_bus_boarding = cta_data.sort_values("Bus", ascending=True)

# Isolate Only Date Column
lowest_bus_boarding = lowest_bus_boarding["Date"]

# Display Least Popular Days to Ride Bus
lowest_bus_boarding

6665    01/30/2019
6262    12/25/2017
6629    12/25/2018
5892    12/25/2016
6275    01/01/2018
           ...
2808    09/09/2008
2863    11/03/2008
2831    10/02/2008
2830    10/01/2008
2832    10/03/2008
Name: Date, Length: 7061, dtype: object

In [18]:
# Investiigate Crime Count for Each Location Description
project_data["Location Description"].value_counts()

CTA PLATFORM                   37634
CTA TRAIN                      26476
CTA BUS                        22801
CTA GARAGE / OTHER PROPERTY    10309
CTA BUS STOP                    6880
CTA STATION                     5250
CTA TRACKS - RIGHT OF WAY        150
CTA "L" PLATFORM                   5
CTA PROPERTY                       4
CTA "L" TRAIN                      2
CTA SUBWAY STATION                 1
Name: Location Description, dtype: int64

In [19]:
# Assign All Location Description Column Values to a Variable
cta_platform = project_data[project_data["Location Description"] == "CTA PLATFORM"]
cta_train = project_data[project_data["Location Description"] == "CTA TRAIN"]
cta_bus = project_data[project_data["Location Description"] == "CTA BUS"]
cta_garage_op = project_data[project_data["Location Description"] == "CTA GARAGE / OTHER PROPERTY"]
cta_bus_stop = project_data[project_data["Location Description"] == "CTA BUS STOP"]
cta_station = project_data[project_data["Location Description"] == "CTA STATION"]
cta_tracks_row = project_data[project_data["Location Description"] == "CTA TRACKS - RIGHT OF WAY"]
cta_l_platform = project_data[project_data["Location Description"] == 'CTA "L" PLATFORM']
cta_property = project_data[project_data["Location Description"] == "CTA PROPERTY"]
cta_l_train = project_data[project_data["Location Description"] == 'CTA "L" TRAIN']
cta_subway_station = project_data[project_data["Location Description"] == "CTA SUBWAY STATION"]

In [20]:
# Create a List to Hold Location Description Values
p_type = [cta_platform, cta_train, cta_bus, cta_garage_op, cta_bus_stop, cta_station, cta_tracks_row, cta_l_platform, cta_property, cta_l_train, cta_subway_station]

# Create a List to Hold Location Description Value Names
location_description  = ["CTA PLATFORM", "CTA TRAIN", "CTA BUS", "CTA GARAGE / OTHER PROPERTY", "CTA BUS STOP", "CTA STATION", "CTA TRACKS - RIGHT OF WAY", 'CTA "L" PLATFORM', "CTA PROPERTY", 'CTA "L" TRAIN', "CTA SUBWAY STATION"]

# Create a For Loop to Display Primary Crime Type
for x in range(11):
    print(f"LOCATION DESCRIPTION: {location_description[x]}")
    print("PRIMARY CRIME TYPE:")
    print(p_type[x]["Primary Type"].value_counts())

LOCATION DESCRIPTION: CTA PLATFORM
PRIMARY CRIME TYPE:
DECEPTIVE PRACTICE                  12669
THEFT                                6056
NARCOTICS                            4550
BATTERY                              4001
CRIMINAL TRESPASS                    2689
CRIMINAL DAMAGE                      2506
ROBBERY                              2357
ASSAULT                              1458
PUBLIC PEACE VIOLATION                314
SEX OFFENSE                           245
WEAPONS VIOLATION                     221
OTHER OFFENSE                         188
LIQUOR LAW VIOLATION                  129
INTERFERENCE WITH PUBLIC OFFICER      106
CRIM SEXUAL ASSAULT                    26
GAMBLING                               23
BURGLARY                               22
PROSTITUTION                           19
OFFENSE INVOLVING CHILDREN             16
STALKING                               14
KIDNAPPING                              9
ARSON                                   5
PUBLIC INDECENCY                        3
OBSCENITY                               2
INTIMIDATION                            2
OTHER NARCOTIC VIOLATION                2
MOTOR VEHICLE THEFT                     1
NON-CRIMINAL                            1
Name: Primary Type, dtype: int64
LOCATION DESCRIPTION: CTA TRAIN
PRIMARY CRIME TYPE:
THEFT                                14148
ROBBERY                               3075
BATTERY                               2736
CRIMINAL DAMAGE                       2105
DECEPTIVE PRACTICE                    1275
NARCOTICS                             1236
ASSAULT                                605
SEX OFFENSE                            461
CRIMINAL TRESPASS                      298
PUBLIC PEACE VIOLATION                 158
OTHER OFFENSE                          100
WEAPONS VIOLATION                       87
LIQUOR LAW VIOLATION                    58
INTERFERENCE WITH PUBLIC OFFICER        29
CRIM SEXUAL ASSAULT                     29
GAMBLING                                26
OFFENSE INVOLVING CHILDREN              14
PUBLIC INDECENCY                        10
STALKING                                 7
KIDNAPPING                               4
MOTOR VEHICLE THEFT                      3
OBSCENITY                                2
ARSON                                    2
NON-CRIMINAL                             2
CONCEALED CARRY LICENSE VIOLATION        2
PROSTITUTION                             1
INTIMIDATION                             1
OTHER NARCOTIC VIOLATION                 1
BURGLARY                                 1
Name: Primary Type, dtype: int64
LOCATION DESCRIPTION: CTA BUS
PRIMARY CRIME TYPE:
THEFT                                7659
BATTERY                              6608
CRIMINAL DAMAGE                      2708
ASSAULT                              2481
ROBBERY                              1336
DECEPTIVE PRACTICE                    974
NARCOTICS                             225
SEX OFFENSE                           202
PUBLIC PEACE VIOLATION                171
CRIMINAL TRESPASS                     142
OTHER OFFENSE                         122
WEAPONS VIOLATION                      83
INTERFERENCE WITH PUBLIC OFFICER       18
OFFENSE INVOLVING CHILDREN             14
STALKING                               12
INTIMIDATION                            9
CRIM SEXUAL ASSAULT                     8
KIDNAPPING                              6
HOMICIDE                                5
PUBLIC INDECENCY                        4
LIQUOR LAW VIOLATION                    4
OBSCENITY                               3
NON-CRIMINAL                            2
MOTOR VEHICLE THEFT                     1
PROSTITUTION                            1
ARSON                                   1
CONCEALED CARRY LICENSE VIOLATION       1
BURGLARY                                1
Name: Primary Type, dtype: int64
LOCATION DESCRIPTION: CTA GARAGE / OTHER PROPERTY
PRIMARY CRIME TYPE:
THEFT                               2713
DECEPTIVE PRACTICE                  2075
CRIMINAL DAMAGE                     1788
NARCOTICS                            799
CRIMINAL TRESPASS                    764
BATTERY                              705
ROBBERY                              400
ASSAULT                              380
MOTOR VEHICLE THEFT                  248
OTHER OFFENSE                        159
PUBLIC PEACE VIOLATION                58
BURGLARY                              55
WEAPONS VIOLATION                     34
SEX OFFENSE                           34
INTERFERENCE WITH PUBLIC OFFICER      28
CRIM SEXUAL ASSAULT                   15
LIQUOR LAW VIOLATION                  14
PROSTITUTION                           9
OFFENSE INVOLVING CHILDREN             9
KIDNAPPING                             6
STALKING                               5
GAMBLING                               5
ARSON                                  4
INTIMIDATION                           2
Name: Primary Type, dtype: int64
LOCATION DESCRIPTION: CTA BUS STOP
PRIMARY CRIME TYPE:
ROBBERY                             1902
THEFT                               1758
BATTERY                             1194
NARCOTICS                            764
ASSAULT                              365
CRIMINAL DAMAGE                      315
OTHER OFFENSE                         96
DECEPTIVE PRACTICE                    90
CRIMINAL TRESPASS                     74
SEX OFFENSE                           72
PUBLIC PEACE VIOLATION                53
WEAPONS VIOLATION                     51
INTERFERENCE WITH PUBLIC OFFICER      43
KIDNAPPING                            29
CRIM SEXUAL ASSAULT                   24
GAMBLING                              16
STALKING                               9
OFFENSE INVOLVING CHILDREN             8
LIQUOR LAW VIOLATION                   5
PROSTITUTION                           4
INTIMIDATION                           3
OBSCENITY                              2
BURGLARY                               2
MOTOR VEHICLE THEFT                    1
Name: Primary Type, dtype: int64
LOCATION DESCRIPTION: CTA STATION
PRIMARY CRIME TYPE:
THEFT                               1333
DECEPTIVE PRACTICE                  1059
BATTERY                              790
CRIMINAL TRESPASS                    586
ASSAULT                              451
ROBBERY                              318
NARCOTICS                            246
CRIMINAL DAMAGE                      215
PUBLIC PEACE VIOLATION                63
SEX OFFENSE                           42
OTHER OFFENSE                         42
INTERFERENCE WITH PUBLIC OFFICER      41
WEAPONS VIOLATION                     19
CRIM SEXUAL ASSAULT                   10
OFFENSE INVOLVING CHILDREN             8
STALKING                               7
MOTOR VEHICLE THEFT                    7
LIQUOR LAW VIOLATION                   3
BURGLARY                               3
GAMBLING                               2
ARSON                                  2
KIDNAPPING                             2
OTHER NARCOTIC VIOLATION               1
Name: Primary Type, dtype: int64
LOCATION DESCRIPTION: CTA TRACKS - RIGHT OF WAY
PRIMARY CRIME TYPE:
CRIMINAL TRESPASS         85
CRIMINAL DAMAGE           26
THEFT                     14
BATTERY                    8
PUBLIC PEACE VIOLATION     7
DECEPTIVE PRACTICE         3
ROBBERY                    3
BURGLARY                   2
ASSAULT                    1
NARCOTICS                  1
Name: Primary Type, dtype: int64
LOCATION DESCRIPTION: CTA "L" PLATFORM
PRIMARY CRIME TYPE:
HOMICIDE    5
Name: Primary Type, dtype: int64
LOCATION DESCRIPTION: CTA PROPERTY
PRIMARY CRIME TYPE:
HOMICIDE    4
Name: Primary Type, dtype: int64
LOCATION DESCRIPTION: CTA "L" TRAIN
PRIMARY CRIME TYPE:
HOMICIDE    2
Name: Primary Type, dtype: int64
LOCATION DESCRIPTION: CTA SUBWAY STATION
PRIMARY CRIME TYPE:
HOMICIDE    1
Name: Primary Type, dtype: int64

In [21]:
# Assign All Years to a Variable
year_2001 = project_data[project_data["Year"] == 2001]
year_2002 = project_data[project_data["Year"] == 2002]
year_2003 = project_data[project_data["Year"] == 2003]
year_2004 = project_data[project_data["Year"] == 2004]
year_2005 = project_data[project_data["Year"] == 2005]
year_2006 = project_data[project_data["Year"] == 2006]
year_2007 = project_data[project_data["Year"] == 2007]
year_2008 = project_data[project_data["Year"] == 2008]
year_2009 = project_data[project_data["Year"] == 2009]
year_2010 = project_data[project_data["Year"] == 2010]
year_2011 = project_data[project_data["Year"] == 2011]
year_2012 = project_data[project_data["Year"] == 2012]
year_2013 = project_data[project_data["Year"] == 2013]
year_2014 = project_data[project_data["Year"] == 2014]
year_2015 = project_data[project_data["Year"] == 2015]
year_2016 = project_data[project_data["Year"] == 2016]
year_2017 = project_data[project_data["Year"] == 2017]
year_2018 = project_data[project_data["Year"] == 2018]
year_2019 = project_data[project_data["Year"] == 2019]

In [22]:
# Filter for a Single Month Example
january_2001 = year_2001[year_2001["Date"].dt.month == 1]

# Display Example
january_2001

,Date,Day Type,Bus,Rail Boardings,Total Rides,Block,Primary Type,Description,Location Description,Arrest,Domestic,Year,Latitude,Longitude,Location
0,2001-01-01,U,297192.0,126455.0,423647.0,002XX N LARAMIE AV,CRIMINAL DAMAGE,TO STATE SUP PROP,CTA BUS,False,False,2001,41.884383,-87.755360,"(41.884382699, -87.755359535)"
1,2001-01-01,U,297192.0,126455.0,423647.0,046XX N BROADWAY,ROBBERY,STRONGARM - NO WEAPON,CTA PLATFORM,False,False,2001,41.965917,-87.657969,"(41.965917251, -87.657969065)"
2,2001-01-01,U,297192.0,126455.0,423647.0,015XX W JARVIS AV,CRIMINAL DAMAGE,TO PROPERTY,CTA PLATFORM,True,False,2001,42.015918,-87.669069,"(42.015918091, -87.669068759)"
3,2001-01-01,U,297192.0,126455.0,423647.0,003XX N STATE ST,ROBBERY,STRONGARM - NO WEAPON,CTA PLATFORM,False,False,2001,41.888112,-87.628175,"(41.888112342, -87.628174848)"
4,2001-01-01,U,297192.0,126455.0,423647.0,033XX W BELMONT AV,CRIMINAL DAMAGE,TO VEHICLE,CTA PLATFORM,False,False,2001,41.939177,-87.712270,"(41.939176878, -87.712269825)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,2001-01-31,W,999392.0,610508.0,1609900.0,051XX S PULASKI RD,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,True,False,2001,41.800136,-87.723509,"(41.800136399, -87.723509219)"
532,2001-01-31,W,999392.0,610508.0,1609900.0,012XX N CLARK ST,ROBBERY,ARMED: OTHER DANGEROUS WEAPON,CTA PLATFORM,True,False,2001,41.903992,-87.631596,"(41.903992238, -87.63159645)"
533,2001-01-31,W,999392.0,610508.0,1609900.0,0000X S DEARBORN ST,THEFT,$500 AND UNDER,CTA TRAIN,True,False,2001,41.881041,-87.629229,"(41.881041415, -87.629229386)"
534,2001-01-31,W,999392.0,610508.0,1609900.0,005XX N STATE ST,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA TRAIN,True,False,2001,41.891632,-87.627923,"(41.891631653, -87.627923121)"
535,2001-01-31,W,999392.0,610508.0,1609900.0,011XX N CLARK ST,THEFT,$500 AND UNDER,CTA TRAIN,True,False,2001,41.903864,-87.631300,"(41.903864193, -87.631300302)"

In [23]:
# Filter for a Single Day Example
january_01_2001 = january_2001[january_2001["Date"].dt.day == 1]

# Display Example
january_01_2001

,Date,Day Type,Bus,Rail Boardings,Total Rides,Block,Primary Type,Description,Location Description,Arrest,Domestic,Year,Latitude,Longitude,Location
0,2001-01-01,U,297192.0,126455.0,423647.0,002XX N LARAMIE AV,CRIMINAL DAMAGE,TO STATE SUP PROP,CTA BUS,False,False,2001,41.884383,-87.755360,"(41.884382699, -87.755359535)"
1,2001-01-01,U,297192.0,126455.0,423647.0,046XX N BROADWAY,ROBBERY,STRONGARM - NO WEAPON,CTA PLATFORM,False,False,2001,41.965917,-87.657969,"(41.965917251, -87.657969065)"
2,2001-01-01,U,297192.0,126455.0,423647.0,015XX W JARVIS AV,CRIMINAL DAMAGE,TO PROPERTY,CTA PLATFORM,True,False,2001,42.015918,-87.669069,"(42.015918091, -87.669068759)"
3,2001-01-01,U,297192.0,126455.0,423647.0,003XX N STATE ST,ROBBERY,STRONGARM - NO WEAPON,CTA PLATFORM,False,False,2001,41.888112,-87.628175,"(41.888112342, -87.628174848)"
4,2001-01-01,U,297192.0,126455.0,423647.0,033XX W BELMONT AV,CRIMINAL DAMAGE,TO VEHICLE,CTA PLATFORM,False,False,2001,41.939177,-87.712270,"(41.939176878, -87.712269825)"
5,2001-01-01,U,297192.0,126455.0,423647.0,013XX W 61 ST,ASSAULT,SIMPLE,CTA PLATFORM,True,False,2001,41.783289,-87.659218,"(41.783289439, -87.659218039)"
6,2001-01-01,U,297192.0,126455.0,423647.0,001XX W 35 ST,THEFT,$500 AND UNDER,CTA TRAIN,False,False,2001,41.830842,-87.630737,"(41.830841773, -87.630737477)"
7,2001-01-01,U,297192.0,126455.0,423647.0,022XX N CALIFORNIA AV,THEFT,OVER $500,CTA TRAIN,False,False,2001,41.922028,-87.697187,"(41.922027977, -87.697186994)"
8,2001-01-01,U,297192.0,126455.0,423647.0,035XX S STATE ST,THEFT,$500 AND UNDER,CTA TRAIN,False,False,2001,41.830941,-87.626796,"(41.830941085, -87.626795589)"
9,2001-01-01,U,297192.0,126455.0,423647.0,002XX W 63 ST,THEFT,OVER $500,CTA TRAIN,False,False,2001,41.780091,-87.630558,"(41.780090741, -87.630558478)"
10,2001-01-01,U,297192.0,126455.0,423647.0,011XX S STATE ST,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,CTA TRAIN,True,False,2001,41.868041,-87.627290,"(41.868040997, -87.627290382)"

In [24]:
# Filter Homicide Data
homicide = project_data[project_data["Primary Type"] == "HOMICIDE"]

# Display Homicide Data
homicide

,Date,Day Type,Bus,Rail Boardings,Total Rides,Block,Primary Type,Description,Location Description,Arrest,Domestic,Year,Latitude,Longitude,Location
12338,2003-05-22,W,967683.0,590893.0,1558576.0,011XX W ARGYLE ST,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" TRAIN",True,False,2003,41.973263,-87.658436,"(41.973263481, -87.658435722)"
16221,2004-03-05,W,939138.0,575845.0,1514983.0,025XX S ARCHER AVE,HOMICIDE,FIRST DEGREE MURDER,CTA PROPERTY,True,False,2004,41.846470,-87.648011,"(41.846470434, -87.648010791)"
16418,2004-03-20,A,607378.0,311130.0,918508.0,056XX W MADISON ST,HOMICIDE,FIRST DEGREE MURDER,CTA BUS,True,False,2004,41.880214,-87.766957,"(41.880214337, -87.766956884)"
33404,2007-05-10,W,1065947.0,654856.0,1720803.0,008XX W 103RD ST,HOMICIDE,FIRST DEGREE MURDER,CTA BUS,True,False,2007,41.706913,-87.643178,"(41.706913422, -87.643177633)"
40530,2008-07-27,U,520244.0,291389.0,811633.0,011XX S STATE ST,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" PLATFORM",True,False,2008,41.868165,-87.627440,"(41.868165405, -87.62743954)"
41747,2008-10-05,U,512429.0,271121.0,783550.0,071XX S WOODLAWN AVE,HOMICIDE,FIRST DEGREE MURDER,CTA BUS,True,False,2008,41.765693,-87.595842,"(41.765693367, -87.595841543)"
43921,2009-02-16,W,765356.0,486133.0,1251489.0,078XX S WESTERN AVE,HOMICIDE,FIRST DEGREE MURDER,CTA PROPERTY,True,False,2009,41.750991,-87.682871,"(41.750990919, -87.682871041)"
56492,2011-03-29,W,1018975.0,688681.0,1707656.0,009XX W FULLERTON AVE,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" PLATFORM",True,False,2011,41.925398,-87.652311,"(41.925398449, -87.652311296)"
59443,2011-09-10,A,665138.0,486616.0,1151754.0,036XX W CHICAGO AVE,HOMICIDE,FIRST DEGREE MURDER,CTA BUS,False,False,2011,41.895443,-87.718089,"(41.895443218, -87.718089317)"
71967,2013-03-16,A,626782.0,610526.0,1237308.0,003XX E 43RD ST,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" PLATFORM",True,False,2013,41.816599,-87.619114,"(41.816598679, -87.619113763)"
89400,2016-06-23,W,757817.0,760840.0,1518657.0,002XX W 47TH ST,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" TRAIN",True,False,2016,41.809125,-87.631907,"(41.809125265, -87.631906508)"
94902,2017-07-20,W,716096.0,726632.0,1442728.0,020XX S PULASKI RD,HOMICIDE,FIRST DEGREE MURDER,CTA PROPERTY,False,False,2017,41.854011,-87.724822,"(41.854010712, -87.724822014)"
94912,2017-07-09,U,400539.0,402561.0,803100.0,000XX W 95TH ST,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" PLATFORM",True,False,2017,41.721627,-87.624485,"(41.721627204, -87.624485177)"
97523,2018-01-20,A,438286.0,449322.0,887608.0,000XX W 69TH ST,HOMICIDE,FIRST DEGREE MURDER,CTA PROPERTY,True,False,2018,41.769185,-87.625732,"(41.769185486, -87.625732415)"
100086,2018-07-09,W,742452.0,704612.0,1447064.0,000XX E 63RD ST,HOMICIDE,FIRST DEGREE MURDER,CTA BUS,True,False,2018,41.780033,-87.622046,"(41.780032862, -87.622045795)"
106480,2019-07-13,A,496000.0,471671.0,967671.0,001XX W CERMAK RD,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" PLATFORM",True,False,2019,41.852868,-87.630915,"(41.852868298, -87.63091491)"
109045,2019-12-03,W,849440.0,732651.0,1582091.0,075XX N PAULINA ST,HOMICIDE,FIRST DEGREE MURDER,CTA SUBWAY STATION,True,False,2019,42.018498,-87.672983,"(42.018498254, -87.672983233)"