In [1]:
import pandas as pd
import datetime as dt
from dateutil.parser import parse

In [2]:
crime_data = pd.read_csv("Crimes_-_2001_to_present.csv")

In [3]:
for x in range(110580):
    crime_data.loc[crime_data["Date"] == crime_data["Date"][x], "Date"] = crime_data["Date"][x][0:10]

In [28]:
crime_data.to_csv(r"p_data.csv", index = False)

In [4]:
cta_data.columns = ["Date", "Day Type", "Bus", "Rail Boardings", "Total Rides"]

In [5]:
cta_data

            Date Day Type     Bus  Rail Boardings  Total Rides
0     01/01/2001        U  297192          126455       423647
1     01/02/2001        W  780827          501952      1282779
2     01/03/2001        W  824923          536432      1361355
3     01/04/2001        W  870021          550011      1420032
4     01/05/2001        W  890426          557917      1448343
...          ...      ...     ...             ...          ...
7056  02/25/2020        W  781725          693749      1475474
7057  02/26/2020        W  756936          682501      1439437
7058  02/27/2020        W  778992          698886      1477878
7059  02/28/2020        W  786008          665937      1451945
7060  02/29/2020        A  458601          337983       796584

[7061 rows x 5 columns]

In [6]:
crime_data

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,25021,JD204167,04/07/2020,002XX S STATE ST,0110,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" PLATFORM",True,False,...,42.0,32.0,01A,1176417.0,1899156.0,2020,04/14/2020 03:49:15 PM,41.878639,-87.627691,"(41.878638996, -87.627691486)"
1,23431,JA340827,07/09/2017,000XX W 95TH ST,0110,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" PLATFORM",True,False,...,21.0,49.0,01A,1177762.0,1841949.0,2017,11/12/2019 03:55:53 PM,41.721627,-87.624485,"(41.721627204, -87.624485177)"
2,24644,JC347217,07/13/2019,001XX W CERMAK RD,0110,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" PLATFORM",True,False,...,25.0,34.0,01A,1175616.0,1889758.0,2019,07/20/2019 04:13:10 PM,41.852868,-87.630915,"(41.852868298, -87.63091491)"
3,19823,HT223608,03/29/2011,009XX W FULLERTON AVE,0110,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" PLATFORM",True,False,...,43.0,7.0,01A,1169577.0,1916141.0,2011,03/19/2019 04:11:22 PM,41.925398,-87.652311,"(41.925398449, -87.652311296)"
4,20824,HW194557,03/16/2013,003XX E 43RD ST,0110,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" PLATFORM",True,False,...,3.0,38.0,01A,1178941.0,1876568.0,2013,03/19/2019 04:11:22 PM,41.816599,-87.619114,"(41.816598679, -87.619113763)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110575,9997762,HY187975,03/11/2015,004XX S WESTERN AVE,0820,THEFT,$500 AND UNDER,CTA TRAIN,False,True,...,2.0,28.0,06,1160478.0,1897731.0,2015,02/10/2018 03:50:01 PM,41.875073,-87.686256,"(41.875073359, -87.68625556)"
110576,9997920,HY187954,03/16/2015,001XX W LAKE ST,0870,THEFT,POCKET-PICKING,CTA TRAIN,True,False,...,42.0,32.0,06,1175301.0,1901735.0,2015,02/10/2018 03:50:01 PM,41.885741,-87.631712,"(41.885741029, -87.631711749)"
110577,9997961,HY188039,03/16/2015,001XX W LAKE ST,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,CTA TRAIN,False,False,...,42.0,32.0,11,1175301.0,1901735.0,2015,02/10/2018 03:50:01 PM,41.885741,-87.631712,"(41.885741029, -87.631711749)"
110578,9999035,HY189070,03/17/2015,100XX W OHARE ST,0880,THEFT,PURSE-SNATCHING,CTA TRAIN,False,False,...,41.0,76.0,06,1100658.0,1934241.0,2015,02/10/2018 03:50:01 PM,41.976290,-87.905227,"(41.976290414, -87.905227221)"
110579,9999864,HY189449,03/18/2015,028XX N MILWAUKEE AVE,0820,THEFT,$500 AND UNDER,CTA TRAIN,False,False,...,35.0,21.0,06,1153217.0,1918448.0,2015,02/10/2018 03:50:01 PM,41.932070,-87.712365,"(41.932069855, -87.712364501)"

In [7]:
data_complete = pd.merge(cta_data, crime_data, how="right", on=["Date", "Date"])
project_data = pd.DataFrame(data_complete)
project_data

,Date,Day Type,Bus,Rail Boardings,Total Rides,ID,Case Number,Block,IUCR,Primary Type,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,01/01/2001,U,297192.0,126455.0,423647.0,1312134,G001532,002XX N LARAMIE AV,1340,CRIMINAL DAMAGE,...,NaN,NaN,14,1141635.0,1900989.0,2001,08/17/2015 03:03:40 PM,41.884383,-87.755360,"(41.884382699, -87.755359535)"
1,01/01/2001,U,297192.0,126455.0,423647.0,1311046,G000063,046XX N BROADWAY,0320,ROBBERY,...,NaN,NaN,03,1167921.0,1930894.0,2001,08/17/2015 03:03:40 PM,41.965917,-87.657969,"(41.965917251, -87.657969065)"
2,01/01/2001,U,297192.0,126455.0,423647.0,1311253,G000194,015XX W JARVIS AV,1310,CRIMINAL DAMAGE,...,NaN,NaN,14,1164761.0,1949091.0,2001,08/17/2015 03:03:40 PM,42.015918,-87.669069,"(42.015918091, -87.669068759)"
3,01/01/2001,U,297192.0,126455.0,423647.0,1312737,G004468,003XX N STATE ST,0320,ROBBERY,...,NaN,NaN,03,1176257.0,1902607.0,2001,08/17/2015 03:03:40 PM,41.888112,-87.628175,"(41.888112342, -87.628174848)"
4,01/01/2001,U,297192.0,126455.0,423647.0,1315420,G000434,033XX W BELMONT AV,1320,CRIMINAL DAMAGE,...,NaN,NaN,14,1153224.0,1921038.0,2001,08/17/2015 03:03:40 PM,41.939177,-87.712270,"(41.939176878, -87.712269825)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111702,04/10/2020,NaN,NaN,NaN,NaN,12027725,JD206297,002XX S STATE ST,2027,NARCOTICS,...,42.0,32.0,18,1176417.0,1899156.0,2020,04/17/2020 03:52:24 PM,41.878639,-87.627691,"(41.878638996, -87.627691486)"
111703,04/10/2020,NaN,NaN,NaN,NaN,12027563,JD206179,032XX W LAKE ST,0460,BATTERY,...,28.0,27.0,08B,1154840.0,1901084.0,2020,04/17/2020 03:52:24 PM,41.884389,-87.706866,"(41.884389103, -87.706866213)"
111704,04/10/2020,NaN,NaN,NaN,NaN,12027364,JD205926,001XX W CERMAK RD,0560,ASSAULT,...,25.0,34.0,08A,1175616.0,1889758.0,2020,04/17/2020 03:52:24 PM,41.852868,-87.630915,"(41.852868298, -87.63091491)"
111705,04/10/2020,NaN,NaN,NaN,NaN,12027742,JD206379,046XX W MONTROSE AVE,0870,THEFT,...,39.0,16.0,06,1144882.0,1928851.0,2020,04/17/2020 03:52:24 PM,41.960778,-87.742731,"(41.960778173, -87.742731337)"
111706,04/10/2020,NaN,NaN,NaN,NaN,12027794,JD206444,040XX W LAKE ST,0810,THEFT,...,28.0,26.0,06,1149512.0,1901446.0,2020,04/17/2020 03:52:24 PM,41.885488,-87.726422,"(41.885487535, -87.726422045)"

In [8]:
project_data.count()

Date                    111707
Day Type                111271
Bus                     111271
Rail Boardings          111271
Total Rides             111271
ID                      111707
Case Number             111707
Block                   111707
IUCR                    111707
Primary Type            111707
Description             111707
Location Description    111707
Arrest                  111707
Domestic                111707
Beat                    111707
District                111707
Ward                    104829
Community Area          104865
FBI Code                111707
X Coordinate            110934
Y Coordinate            110934
Year                    111707
Updated On              111707
Latitude                110934
Longitude               110934
Location                110934
dtype: int64

In [9]:
project_data = project_data.dropna(how='any')

In [10]:
project_data.count()

Date                    103752
Day Type                103752
Bus                     103752
Rail Boardings          103752
Total Rides             103752
ID                      103752
Case Number             103752
Block                   103752
IUCR                    103752
Primary Type            103752
Description             103752
Location Description    103752
Arrest                  103752
Domestic                103752
Beat                    103752
District                103752
Ward                    103752
Community Area          103752
FBI Code                103752
X Coordinate            103752
Y Coordinate            103752
Year                    103752
Updated On              103752
Latitude                103752
Longitude               103752
Location                103752
dtype: int64

In [11]:
project_data["Location Description"].unique()

array(['CTA PLATFORM', 'CTA BUS', 'CTA TRAIN',
       'CTA GARAGE / OTHER PROPERTY', 'CTA "L" TRAIN', 'CTA PROPERTY',
       'CTA "L" PLATFORM', 'CTA BUS STOP', 'CTA STATION',
       'CTA TRACKS - RIGHT OF WAY', 'CTA SUBWAY STATION',
       'CTA PARKING LOT / GARAGE / OTHER PROPERTY'], dtype=object)

In [12]:
cta_bus = project_data[project_data["Location Description"] == "CTA BUS"]
cta_platform = project_data[project_data["Location Description"] == "CTA PLATFORM"]
cta_train = project_data[project_data["Location Description"] == "CTA TRAIN"]
cta_bus_stop = project_data[project_data["Location Description"] == "CTA_BUS_STOP"]
cta_l_platform = project_data[project_data["Location Description"] == "cta 'L' PLATFORM"]
cta_ = project_data[project_data["Location Description"] == "CTA BUS"]

In [13]:
# What types of crime are highest on the CTA?
cta_bus["Primary Type"].value_counts()

THEFT                                7364
BATTERY                              6250
CRIMINAL DAMAGE                      2494
ASSAULT                              2319
ROBBERY                              1303
DECEPTIVE PRACTICE                    749
NARCOTICS                             209
SEX OFFENSE                           188
PUBLIC PEACE VIOLATION                168
CRIMINAL TRESPASS                     134
OTHER OFFENSE                         118
WEAPONS VIOLATION                      79
INTERFERENCE WITH PUBLIC OFFICER       18
OFFENSE INVOLVING CHILDREN             13
STALKING                               11
INTIMIDATION                            9
CRIM SEXUAL ASSAULT                     8
KIDNAPPING                              6
HOMICIDE                                5
PUBLIC INDECENCY                        4
OBSCENITY                               3
LIQUOR LAW VIOLATION                    3
NON-CRIMINAL                            2
CONCEALED CARRY LICENSE VIOLATION       1
BURGLARY                                1
MOTOR VEHICLE THEFT                     1
ARSON                                   1
Name: Primary Type, dtype: int64

In [14]:
# What types of crime are highest on the CTA?
cta_platform["Primary Type"].value_counts()

DECEPTIVE PRACTICE                  10980
THEFT                                5674
NARCOTICS                            4032
BATTERY                              3739
CRIMINAL TRESPASS                    2431
ROBBERY                              2215
CRIMINAL DAMAGE                      2084
ASSAULT                              1359
PUBLIC PEACE VIOLATION                297
SEX OFFENSE                           223
WEAPONS VIOLATION                     197
OTHER OFFENSE                         163
LIQUOR LAW VIOLATION                  112
INTERFERENCE WITH PUBLIC OFFICER      106
CRIM SEXUAL ASSAULT                    24
BURGLARY                               20
GAMBLING                               19
PROSTITUTION                           15
OFFENSE INVOLVING CHILDREN             15
STALKING                               13
KIDNAPPING                              7
ARSON                                   5
INTIMIDATION                            2
OTHER NARCOTIC VIOLATION                2
PUBLIC INDECENCY                        2
OBSCENITY                               2
NON-CRIMINAL                            1
MOTOR VEHICLE THEFT                     1
Name: Primary Type, dtype: int64

In [15]:
# What types of crime are highest on the CTA?
cta_train["Primary Type"].value_counts()

THEFT                                13721
ROBBERY                               3017
BATTERY                               2635
CRIMINAL DAMAGE                       2046
DECEPTIVE PRACTICE                    1221
NARCOTICS                             1191
ASSAULT                                574
SEX OFFENSE                            430
CRIMINAL TRESPASS                      286
PUBLIC PEACE VIOLATION                 155
OTHER OFFENSE                           99
WEAPONS VIOLATION                       77
LIQUOR LAW VIOLATION                    47
INTERFERENCE WITH PUBLIC OFFICER        30
CRIM SEXUAL ASSAULT                     29
GAMBLING                                25
OFFENSE INVOLVING CHILDREN              14
PUBLIC INDECENCY                        10
STALKING                                 7
MOTOR VEHICLE THEFT                      3
KIDNAPPING                               3
OBSCENITY                                2
CONCEALED CARRY LICENSE VIOLATION        2
NON-CRIMINAL                             2
BURGLARY                                 1
INTIMIDATION                             1
PROSTITUTION                             1
OTHER NARCOTIC VIOLATION                 1
ARSON                                    1
Name: Primary Type, dtype: int64

In [16]:
cta_bus_stop["Primary Type"].value_counts()

Series([], Name: Primary Type, dtype: int64)

In [17]:
cta_l_platform["Primary Type"].value_counts()

Series([], Name: Primary Type, dtype: int64)

In [18]:
# Are crimes higher on buses or trains?
bus_crime_count = cta_bus["Primary Type"].count()
train_crime_count = cta_train["Primary Type"].count()
print(f"Number of Crimes on CTA Buses: {bus_crime_count}")
print(f"Number of Crimes on CTA Trains: {train_crime_count}")

Number of Crimes on CTA Buses: 21461
Number of Crimes on CTA Trains: 25631

In [19]:
all_dates = project_data["Date"]
[dt.datetime.strptime(x, "%m/%d/%Y") for x in all_dates]

[datetime.datetime(2001, 4, 25, 0, 0),
 datetime.datetime(2001, 10, 10, 0, 0),
 datetime.datetime(2002, 1, 9, 0, 0),
 datetime.datetime(2002, 1, 14, 0, 0),
 datetime.datetime(2002, 1, 16, 0, 0),
 datetime.datetime(2002, 1, 20, 0, 0),
 datetime.datetime(2002, 1, 21, 0, 0),
 datetime.datetime(2002, 2, 14, 0, 0),
 datetime.datetime(2002, 2, 19, 0, 0),
 datetime.datetime(2002, 2, 20, 0, 0),
 datetime.datetime(2002, 2, 28, 0, 0),
 datetime.datetime(2002, 3, 1, 0, 0),
 datetime.datetime(2002, 3, 7, 0, 0),
 datetime.datetime(2002, 3, 14, 0, 0),
 datetime.datetime(2002, 3, 15, 0, 0),
 datetime.datetime(2002, 3, 28, 0, 0),
 datetime.datetime(2002, 4, 4, 0, 0),
 datetime.datetime(2002, 4, 6, 0, 0),
 datetime.datetime(2002, 4, 6, 0, 0),
 datetime.datetime(2002, 4, 6, 0, 0),
 datetime.datetime(2002, 4, 7, 0, 0),
 datetime.datetime(2002, 4, 8, 0, 0),
 datetime.datetime(2002, 4, 9, 0, 0),
 datetime.datetime(2002, 4, 10, 0, 0),
 datetime.datetime(2002, 4, 10, 0, 0),
 datetime.datetime(2002, 4, 11, 0, 0),
 datetime.datetime(2002, 4, 15, 0, 0),
 datetime.datetime(2002, 4, 15, 0, 0),
 datetime.datetime(2002, 4, 16, 0, 0),
 datetime.datetime(2002, 4, 16, 0, 0),
 datetime.datetime(2002, 4, 17, 0, 0),
 datetime.datetime(2002, 4, 18, 0, 0),
 datetime.datetime(2002, 4, 19, 0, 0),
 datetime.datetime(2002, 4, 20, 0, 0),
 datetime.datetime(2002, 4, 20, 0, 0),
 datetime.datetime(2002, 4, 20, 0, 0),
 datetime.datetime(2002, 4, 20, 0, 0),
 datetime.datetime(2002, 4, 21, 0, 0),
 datetime.datetime(2002, 4, 21, 0, 0),
 datetime.datetime(2002, 4, 21, 0, 0),
 datetime.datetime(2002, 4, 21, 0, 0),
 datetime.datetime(2002, 4, 21, 0, 0),
 datetime.datetime(2002, 4, 22, 0, 0),
 datetime.datetime(2002, 4, 22, 0, 0),
 datetime.datetime(2002, 4, 22, 0, 0),
 datetime.datetime(2002, 4, 23, 0, 0),
 datetime.datetime(2002, 4, 23, 0, 0),
 datetime.datetime(2002, 4, 23, 0, 0),
 datetime.datetime(2002, 4, 23, 0, 0),
 datetime.datetime(2002, 4, 23, 0, 0),
 datetime.datetime(2002, 4, 23, 0, 0),
 datetime.datetime(2002, 4, 23, 0, 0),
 datetime.datetime(2002, 4, 23, 0, 0),
 datetime.datetime(2002, 4, 23, 0, 0),
 datetime.datetime(2002, 4, 23, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 24, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 25, 0, 0),
 datetime.datetime(2002, 4, 26, 0, 0),
 datetime.datetime(2002, 4, 26, 0, 0),
 datetime.datetime(2002, 4, 26, 0, 0),
 datetime.datetime(2002, 4, 26, 0, 0),
 datetime.datetime(2002, 4, 26, 0, 0),
 datetime.datetime(2002, 4, 26, 0, 0),
 datetime.datetime(2002, 4, 26, 0, 0),
 datetime.datetime(2002, 4, 26, 0, 0),
 datetime.datetime(2002, 4, 26, 0, 0),
 datetime.datetime(2002, 4, 26, 0, 0),
 datetime.datetime(2002, 4, 26, 0, 0),
 datetime.datetime(2002, 4, 26, 0, 0),
 datetime.datetime(2002, 4, 26, 0, 0),
 datetime.datetime(2002, 4, 26, 0, 0),
 datetime.datetime(2002, 4, 26, 0, 0),
 datetime.datetime(2002, 4, 26, 0, 0),
 datetime.datetime(2002, 4, 26, 0, 0),
 datetime.datetime(2002, 4, 27, 0, 0),
 datetime.datetime(2002, 4, 27, 0, 0),
 datetime.datetime(2002, 4, 27, 0, 0),
 datetime.datetime(2002, 4, 27, 0, 0),
 datetime.datetime(2002, 4, 27, 0, 0),
 datetime.datetime(2002, 4, 27, 0, 0),
 datetime.datetime(2002, 4, 27, 0, 0),
 datetime.datetime(2002, 4, 27, 0, 0),
 datetime.datetime(2002, 4, 27, 0, 0),
 datetime.datetime(2002, 4, 27, 0, 0),
 datetime.datetime(2002, 4, 28, 0, 0),
 datetime.datetime(2002, 4, 28, 0, 0),
 datetime.datetime(2002, 4, 28, 0, 0),
 datetime.datetime(2002, 4, 28, 0, 0),
 datetime.datetime(2002, 4, 28, 0, 0),
 datetime.datetime(2002, 4, 28, 0, 0),
 datetime.datetime(2002, 4, 28, 0, 0),
 datetime.datetime(2002, 4, 28, 0, 0),
 datetime.datetime(2002, 4, 28, 0, 0),
 datetime.datetime(2002, 4, 28, 0, 0),
 datetime.datetime(2002, 4, 28, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 29, 0, 0),
 datetime.datetime(2002, 4, 30, 0, 0),
 datetime.datetime(2002, 4, 30, 0, 0),
 datetime.datetime(2002, 4, 30, 0, 0),
 datetime.datetime(2002, 4, 30, 0, 0),
 datetime.datetime(2002, 4, 30, 0, 0),
 datetime.datetime(2002, 4, 30, 0, 0),
 datetime.datetime(2002, 4, 30, 0, 0),
 datetime.datetime(2002, 4, 30, 0, 0),
 datetime.datetime(2002, 4, 30, 0, 0),
 datetime.datetime(2002, 4, 30, 0, 0),
 datetime.datetime(2002, 4, 30, 0, 0),
 datetime.datetime(2002, 4, 30, 0, 0),
 datetime.datetime(2002, 4, 30, 0, 0),
 datetime.datetime(2002, 4, 30, 0, 0),
 datetime.datetime(2002, 4, 30, 0, 0),
 datetime.datetime(2002, 4, 30, 0, 0),
 datetime.datetime(2002, 4, 30, 0, 0),
 datetime.datetime(2002, 4, 30, 0, 0),
 datetime.datetime(2002, 4, 30, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 5, 1, 0, 0),
 datetime.datetime(2002, 5, 2, 0, 0),
 datetime.datetime(2002, 5, 2, 0, 0),
 datetime.datetime(2002, 5, 2, 0, 0),
 datetime.datetime(2002, 5, 2, 0, 0),
 datetime.datetime(2002, 5, 2, 0, 0),
 datetime.datetime(2002, 5, 2, 0, 0),
 datetime.datetime(2002, 5, 2, 0, 0),
 datetime.datetime(2002, 5, 2, 0, 0),
 datetime.datetime(2002, 5, 2, 0, 0),
 datetime.datetime(2002, 5, 2, 0, 0),
 datetime.datetime(2002, 5, 2, 0, 0),
 datetime.datetime(2002, 5, 2, 0, 0),
 datetime.datetime(2002, 5, 2, 0, 0),
 datetime.datetime(2002, 5, 2, 0, 0),
 datetime.datetime(2002, 5, 2, 0, 0),
 datetime.datetime(2002, 5, 2, 0, 0),
 datetime.datetime(2002, 5, 2, 0, 0),
 datetime.datetime(2002, 5, 2, 0, 0),
 datetime.datetime(2002, 5, 2, 0, 0),
 datetime.datetime(2002, 5, 3, 0, 0),
 datetime.datetime(2002, 5, 3, 0, 0),
 datetime.datetime(2002, 5, 3, 0, 0),
 datetime.datetime(2002, 5, 3, 0, 0),
 datetime.datetime(2002, 5, 3, 0, 0),
 datetime.datetime(2002, 5, 3, 0, 0),
 datetime.datetime(2002, 5, 3, 0, 0),
 datetime.datetime(2002, 5, 3, 0, 0),
 datetime.datetime(2002, 5, 3, 0, 0),
 datetime.datetime(2002, 5, 3, 0, 0),
 datetime.datetime(2002, 5, 3, 0, 0),
 datetime.datetime(2002, 5, 3, 0, 0),
 datetime.datetime(2002, 5, 3, 0, 0),
 datetime.datetime(2002, 5, 3, 0, 0),
 datetime.datetime(2002, 5, 3, 0, 0),
 datetime.datetime(2002, 5, 4, 0, 0),
 datetime.datetime(2002, 5, 4, 0, 0),
 datetime.datetime(2002, 5, 4, 0, 0),
 datetime.datetime(2002, 5, 4, 0, 0),
 datetime.datetime(2002, 5, 4, 0, 0),
 datetime.datetime(2002, 5, 4, 0, 0),
 datetime.datetime(2002, 5, 4, 0, 0),
 datetime.datetime(2002, 5, 4, 0, 0),
 datetime.datetime(2002, 5, 4, 0, 0),
 datetime.datetime(2002, 5, 4, 0, 0),
 datetime.datetime(2002, 5, 4, 0, 0),
 datetime.datetime(2002, 5, 4, 0, 0),
 datetime.datetime(2002, 5, 4, 0, 0),
 datetime.datetime(2002, 5, 4, 0, 0),
 datetime.datetime(2002, 5, 4, 0, 0),
 datetime.datetime(2002, 5, 4, 0, 0),
 datetime.datetime(2002, 5, 5, 0, 0),
 datetime.datetime(2002, 5, 5, 0, 0),
 datetime.datetime(2002, 5, 5, 0, 0),
 datetime.datetime(2002, 5, 5, 0, 0),
 datetime.datetime(2002, 5, 5, 0, 0),
 datetime.datetime(2002, 5, 5, 0, 0),
 datetime.datetime(2002, 5, 5, 0, 0),
 datetime.datetime(2002, 5, 5, 0, 0),
 datetime.datetime(2002, 5, 5, 0, 0),
 datetime.datetime(2002, 5, 5, 0, 0),
 datetime.datetime(2002, 5, 6, 0, 0),
 datetime.datetime(2002, 5, 6, 0, 0),
 datetime.datetime(2002, 5, 6, 0, 0),
 datetime.datetime(2002, 5, 6, 0, 0),
 datetime.datetime(2002, 5, 6, 0, 0),
 datetime.datetime(2002, 5, 6, 0, 0),
 datetime.datetime(2002, 5, 6, 0, 0),
 datetime.datetime(2002, 5, 6, 0, 0),
 datetime.datetime(2002, 5, 6, 0, 0),
 datetime.datetime(2002, 5, 6, 0, 0),
 datetime.datetime(2002, 5, 6, 0, 0),
 datetime.datetime(2002, 5, 6, 0, 0),
 datetime.datetime(2002, 5, 6, 0, 0),
 datetime.datetime(2002, 5, 6, 0, 0),
 datetime.datetime(2002, 5, 6, 0, 0),
 datetime.datetime(2002, 5, 6, 0, 0),
 datetime.datetime(2002, 5, 6, 0, 0),
 datetime.datetime(2002, 5, 6, 0, 0),
 datetime.datetime(2002, 5, 7, 0, 0),
 datetime.datetime(2002, 5, 7, 0, 0),
 datetime.datetime(2002, 5, 7, 0, 0),
 datetime.datetime(2002, 5, 7, 0, 0),
 datetime.datetime(2002, 5, 7, 0, 0),
 datetime.datetime(2002, 5, 7, 0, 0),
 datetime.datetime(2002, 5, 7, 0, 0),
 datetime.datetime(2002, 5, 7, 0, 0),
 datetime.datetime(2002, 5, 7, 0, 0),
 datetime.datetime(2002, 5, 7, 0, 0),
 datetime.datetime(2002, 5, 7, 0, 0),
 datetime.datetime(2002, 5, 7, 0, 0),
 datetime.datetime(2002, 5, 8, 0, 0),
 datetime.datetime(2002, 5, 8, 0, 0),
 datetime.datetime(2002, 5, 8, 0, 0),
 datetime.datetime(2002, 5, 8, 0, 0),
 datetime.datetime(2002, 5, 8, 0, 0),
 datetime.datetime(2002, 5, 8, 0, 0),
 datetime.datetime(2002, 5, 8, 0, 0),
 datetime.datetime(2002, 5, 8, 0, 0),
 datetime.datetime(2002, 5, 8, 0, 0),
 datetime.datetime(2002, 5, 8, 0, 0),
 datetime.datetime(2002, 5, 8, 0, 0),
 datetime.datetime(2002, 5, 8, 0, 0),
 datetime.datetime(2002, 5, 8, 0, 0),
 datetime.datetime(2002, 5, 9, 0, 0),
 datetime.datetime(2002, 5, 9, 0, 0),
 datetime.datetime(2002, 5, 9, 0, 0),
 datetime.datetime(2002, 5, 9, 0, 0),
 datetime.datetime(2002, 5, 9, 0, 0),
 datetime.datetime(2002, 5, 9, 0, 0),
 datetime.datetime(2002, 5, 9, 0, 0),
 datetime.datetime(2002, 5, 9, 0, 0),
 datetime.datetime(2002, 5, 9, 0, 0),
 datetime.datetime(2002, 5, 9, 0, 0),
 datetime.datetime(2002, 5, 9, 0, 0),
 datetime.datetime(2002, 5, 9, 0, 0),
 datetime.datetime(2002, 5, 9, 0, 0),
 datetime.datetime(2002, 5, 9, 0, 0),
 datetime.datetime(2002, 5, 9, 0, 0),
 datetime.datetime(2002, 5, 9, 0, 0),
 datetime.datetime(2002, 5, 9, 0, 0),
 datetime.datetime(2002, 5, 9, 0, 0),
 datetime.datetime(2002, 5, 9, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 10, 0, 0),
 datetime.datetime(2002, 5, 11, 0, 0),
 datetime.datetime(2002, 5, 11, 0, 0),
 datetime.datetime(2002, 5, 11, 0, 0),
 datetime.datetime(2002, 5, 11, 0, 0),
 datetime.datetime(2002, 5, 11, 0, 0),
 datetime.datetime(2002, 5, 11, 0, 0),
 datetime.datetime(2002, 5, 11, 0, 0),
 datetime.datetime(2002, 5, 11, 0, 0),
 datetime.datetime(2002, 5, 11, 0, 0),
 datetime.datetime(2002, 5, 11, 0, 0),
 datetime.datetime(2002, 5, 11, 0, 0),
 datetime.datetime(2002, 5, 11, 0, 0),
 datetime.datetime(2002, 5, 11, 0, 0),
 datetime.datetime(2002, 5, 11, 0, 0),
 datetime.datetime(2002, 5, 11, 0, 0),
 datetime.datetime(2002, 5, 12, 0, 0),
 datetime.datetime(2002, 5, 12, 0, 0),
 datetime.datetime(2002, 5, 12, 0, 0),
 datetime.datetime(2002, 5, 12, 0, 0),
 datetime.datetime(2002, 5, 12, 0, 0),
 datetime.datetime(2002, 5, 12, 0, 0),
 datetime.datetime(2002, 5, 12, 0, 0),
 datetime.datetime(2002, 5, 12, 0, 0),
 datetime.datetime(2002, 5, 13, 0, 0),
 datetime.datetime(2002, 5, 13, 0, 0),
 datetime.datetime(2002, 5, 13, 0, 0),
 datetime.datetime(2002, 5, 13, 0, 0),
 datetime.datetime(2002, 5, 13, 0, 0),
 datetime.datetime(2002, 5, 13, 0, 0),
 datetime.datetime(2002, 5, 13, 0, 0),
 datetime.datetime(2002, 5, 13, 0, 0),
 datetime.datetime(2002, 5, 14, 0, 0),
 datetime.datetime(2002, 5, 14, 0, 0),
 datetime.datetime(2002, 5, 14, 0, 0),
 datetime.datetime(2002, 5, 14, 0, 0),
 datetime.datetime(2002, 5, 14, 0, 0),
 datetime.datetime(2002, 5, 14, 0, 0),
 datetime.datetime(2002, 5, 14, 0, 0),
 datetime.datetime(2002, 5, 14, 0, 0),
 datetime.datetime(2002, 5, 14, 0, 0),
 datetime.datetime(2002, 5, 14, 0, 0),
 datetime.datetime(2002, 5, 14, 0, 0),
 datetime.datetime(2002, 5, 14, 0, 0),
 datetime.datetime(2002, 5, 14, 0, 0),
 datetime.datetime(2002, 5, 14, 0, 0),
 datetime.datetime(2002, 5, 14, 0, 0),
 datetime.datetime(2002, 5, 14, 0, 0),
 datetime.datetime(2002, 5, 14, 0, 0),
 datetime.datetime(2002, 5, 14, 0, 0),
 datetime.datetime(2002, 5, 14, 0, 0),
 datetime.datetime(2002, 5, 14, 0, 0),
 datetime.datetime(2002, 5, 14, 0, 0),
 datetime.datetime(2002, 5, 14, 0, 0),
 datetime.datetime(2002, 5, 14, 0, 0),
 datetime.datetime(2002, 5, 15, 0, 0),
 datetime.datetime(2002, 5, 15, 0, 0),
 datetime.datetime(2002, 5, 15, 0, 0),
 datetime.datetime(2002, 5, 15, 0, 0),
 datetime.datetime(2002, 5, 15, 0, 0),
 datetime.datetime(2002, 5, 15, 0, 0),
 datetime.datetime(2002, 5, 15, 0, 0),
 datetime.datetime(2002, 5, 15, 0, 0),
 datetime.datetime(2002, 5, 15, 0, 0),
 datetime.datetime(2002, 5, 15, 0, 0),
 datetime.datetime(2002, 5, 15, 0, 0),
 datetime.datetime(2002, 5, 15, 0, 0),
 datetime.datetime(2002, 5, 15, 0, 0),
 datetime.datetime(2002, 5, 15, 0, 0),
 datetime.datetime(2002, 5, 15, 0, 0),
 datetime.datetime(2002, 5, 15, 0, 0),
 datetime.datetime(2002, 5, 15, 0, 0),
 datetime.datetime(2002, 5, 15, 0, 0),
 datetime.datetime(2002, 5, 15, 0, 0),
 datetime.datetime(2002, 5, 15, 0, 0),
 datetime.datetime(2002, 5, 15, 0, 0),
 datetime.datetime(2002, 5, 15, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 16, 0, 0),
 datetime.datetime(2002, 5, 17, 0, 0),
 datetime.datetime(2002, 5, 17, 0, 0),
 datetime.datetime(2002, 5, 17, 0, 0),
 datetime.datetime(2002, 5, 17, 0, 0),
 datetime.datetime(2002, 5, 17, 0, 0),
 datetime.datetime(2002, 5, 17, 0, 0),
 datetime.datetime(2002, 5, 17, 0, 0),
 datetime.datetime(2002, 5, 17, 0, 0),
 datetime.datetime(2002, 5, 17, 0, 0),
 datetime.datetime(2002, 5, 17, 0, 0),
 datetime.datetime(2002, 5, 17, 0, 0),
 datetime.datetime(2002, 5, 17, 0, 0),
 datetime.datetime(2002, 5, 17, 0, 0),
 datetime.datetime(2002, 5, 17, 0, 0),
 datetime.datetime(2002, 5, 17, 0, 0),
 datetime.datetime(2002, 5, 17, 0, 0),
 datetime.datetime(2002, 5, 17, 0, 0),
 datetime.datetime(2002, 5, 18, 0, 0),
 datetime.datetime(2002, 5, 18, 0, 0),
 datetime.datetime(2002, 5, 18, 0, 0),
 datetime.datetime(2002, 5, 18, 0, 0),
 datetime.datetime(2002, 5, 18, 0, 0),
 datetime.datetime(2002, 5, 18, 0, 0),
 datetime.datetime(2002, 5, 18, 0, 0),
 datetime.datetime(2002, 5, 18, 0, 0),
 datetime.datetime(2002, 5, 18, 0, 0),
 datetime.datetime(2002, 5, 18, 0, 0),
 datetime.datetime(2002, 5, 18, 0, 0),
 datetime.datetime(2002, 5, 18, 0, 0),
 datetime.datetime(2002, 5, 18, 0, 0),
 datetime.datetime(2002, 5, 18, 0, 0),
 datetime.datetime(2002, 5, 18, 0, 0),
 datetime.datetime(2002, 5, 18, 0, 0),
 datetime.datetime(2002, 5, 18, 0, 0),
 datetime.datetime(2002, 5, 18, 0, 0),
 datetime.datetime(2002, 5, 19, 0, 0),
 datetime.datetime(2002, 5, 19, 0, 0),
 datetime.datetime(2002, 5, 19, 0, 0),
 datetime.datetime(2002, 5, 19, 0, 0),
 datetime.datetime(2002, 5, 19, 0, 0),
 datetime.datetime(2002, 5, 19, 0, 0),
 datetime.datetime(2002, 5, 19, 0, 0),
 datetime.datetime(2002, 5, 19, 0, 0),
 datetime.datetime(2002, 5, 19, 0, 0),
 datetime.datetime(2002, 5, 20, 0, 0),
 datetime.datetime(2002, 5, 20, 0, 0),
 datetime.datetime(2002, 5, 20, 0, 0),
 datetime.datetime(2002, 5, 20, 0, 0),
 datetime.datetime(2002, 5, 20, 0, 0),
 datetime.datetime(2002, 5, 20, 0, 0),
 datetime.datetime(2002, 5, 20, 0, 0),
 datetime.datetime(2002, 5, 20, 0, 0),

In [20]:
project_data["Date"] = pd.to_datetime(all_dates)

/Users/gregoryrash/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
project_data

,Date,Day Type,Bus,Rail Boardings,Total Rides,ID,Case Number,Block,IUCR,Primary Type,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
1943,2001-04-25,W,977794.0,609447.0,1587241.0,1493903,G234851,011XX S STATE ST,0320,ROBBERY,...,4.0,32.0,03,1176558.0,1895295.0,2001,03/16/2019 04:01:20 PM,41.868041,-87.627290,"(41.868040997, -87.627290382)"
4246,2001-10-10,W,898767.0,637568.0,1536335.0,2223695,G608926,062XX S STONY ISLAND AVE,1320,CRIMINAL DAMAGE,...,5.0,42.0,14,1187893.0,1864324.0,2001,08/17/2015 03:03:40 PM,41.782791,-87.586666,"(41.782791404, -87.586666323)"
5418,2002-01-09,W,985622.0,591671.0,1577293.0,2541574,HJ116653,001XX N STATE ST,1210,DECEPTIVE PRACTICE,...,42.0,32.0,11,1176330.0,1901649.0,2002,02/28/2018 03:56:25 PM,41.885482,-87.627936,"(41.885481891, -87.627935689)"
5492,2002-01-14,W,985931.0,593642.0,1579573.0,2547488,HH125891,011XX S STATE ST,1330,CRIMINAL TRESPASS,...,2.0,32.0,26,1176517.0,1895340.0,2002,02/10/2018 03:50:01 PM,41.868165,-87.627440,"(41.868165405, -87.62743954)"
5531,2002-01-16,W,955758.0,608009.0,1563767.0,2551360,HJ130470,040XX W LAKE ST,0820,THEFT,...,28.0,26.0,06,1149512.0,1901446.0,2002,02/10/2018 03:50:01 PM,41.885488,-87.726422,"(41.885487535, -87.726422045)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111266,2020-02-29,A,458601.0,337983.0,796584.0,11995806,JD169605,004XX S CLINTON ST,0560,ASSAULT,...,25.0,28.0,08A,1172799.0,1898209.0,2020,03/07/2020 03:47:57 PM,41.876121,-87.641004,"(41.876121224, -87.641003973)"
111267,2020-02-29,A,458601.0,337983.0,796584.0,11995737,JD169619,0000X W 79TH ST,1330,CRIMINAL TRESPASS,...,6.0,44.0,26,1177483.0,1852629.0,2020,03/07/2020 03:47:57 PM,41.750941,-87.625185,"(41.750940757, -87.625185222)"
111268,2020-02-29,A,458601.0,337983.0,796584.0,11995808,JD169650,0000X N DEARBORN ST,0870,THEFT,...,42.0,32.0,06,1175937.0,1900516.0,2020,03/07/2020 03:47:57 PM,41.882382,-87.629413,"(41.882381731, -87.629412971)"
111269,2020-02-29,A,458601.0,337983.0,796584.0,11995143,JD168779,0000X W 79TH ST,0460,BATTERY,...,6.0,44.0,08B,1177483.0,1852629.0,2020,03/07/2020 03:47:57 PM,41.750941,-87.625185,"(41.750940757, -87.625185222)"
111270,2020-02-29,A,458601.0,337983.0,796584.0,11995242,JD168927,015XX N CLYBOURN AVE,0460,BATTERY,...,2.0,8.0,08B,1170470.0,1910783.0,2020,03/07/2020 03:47:57 PM,41.910676,-87.649187,"(41.910676312, -87.649187069)"

In [27]:
project_data.to_csv(r"project_data.csv", index = False)

In [26]:
year_2001 = project_data[project_data["Date"].dt.year == 2001]
year_2002 = project_data[project_data["Date"].dt.year == 2002]
year_2003 = project_data[project_data["Date"].dt.year == 2003]
year_2004 = project_data[project_data["Date"].dt.year == 2004]
year_2005 = project_data[project_data["Date"].dt.year == 2005]
year_2006 = project_data[project_data["Date"].dt.year == 2006]
year_2007 = project_data[project_data["Date"].dt.year == 2007]
year_2008 = project_data[project_data["Date"].dt.year == 2008]
year_2009 = project_data[project_data["Date"].dt.year == 2009]
year_2010 = project_data[project_data["Date"].dt.year == 2010]
year_2011 = project_data[project_data["Date"].dt.year == 2011]
year_2012 = project_data[project_data["Date"].dt.year == 2012]
year_2013 = project_data[project_data["Date"].dt.year == 2013]
year_2014 = project_data[project_data["Date"].dt.year == 2014]
year_2015 = project_data[project_data["Date"].dt.year == 2015]
year_2016 = project_data[project_data["Date"].dt.year == 2016]
year_2017 = project_data[project_data["Date"].dt.year == 2017]
year_2018 = project_data[project_data["Date"].dt.year == 2018]
year_2019 = project_data[project_data["Date"].dt.year == 2019]


january = project_data[project_data["Date"].dt.month == 1]
february = project_data[project_data["Date"].dt.month == 2]
march = project_data[project_data["Date"].dt.month == 3]
april = project_data[project_data["Date"].dt.month == 4]
may = project_data[project_data["Date"].dt.month == 5]
june = project_data[project_data["Date"].dt.month == 6]
july = project_data[project_data["Date"].dt.month == 7]
august = project_data[project_data["Date"].dt.month == 8]
september = project_data[project_data["Date"].dt.month == 9]
october = project_data[project_data["Date"].dt.month == 10]
november = project_data[project_data["Date"].dt.month == 11]
december = project_data[project_data["Date"].dt.month == 12]

In [25]:
year_2002

,Date,Day Type,Bus,Rail Boardings,Total Rides,ID,Case Number,Block,IUCR,Primary Type,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
5418,2002-01-09,W,985622.0,591671.0,1577293.0,2541574,HJ116653,001XX N STATE ST,1210,DECEPTIVE PRACTICE,...,42.0,32.0,11,1176330.0,1901649.0,2002,02/28/2018 03:56:25 PM,41.885482,-87.627936,"(41.885481891, -87.627935689)"
5492,2002-01-14,W,985931.0,593642.0,1579573.0,2547488,HH125891,011XX S STATE ST,1330,CRIMINAL TRESPASS,...,2.0,32.0,26,1176517.0,1895340.0,2002,02/10/2018 03:50:01 PM,41.868165,-87.627440,"(41.868165405, -87.62743954)"
5531,2002-01-16,W,955758.0,608009.0,1563767.0,2551360,HJ130470,040XX W LAKE ST,0820,THEFT,...,28.0,26.0,06,1149512.0,1901446.0,2002,02/10/2018 03:50:01 PM,41.885488,-87.726422,"(41.885487535, -87.726422045)"
5585,2002-01-20,U,374069.0,180903.0,554972.0,1950722,HH140795,016XX W HOWARD ST,0820,THEFT,...,49.0,1.0,06,1164257.0,1950346.0,2002,02/28/2018 03:56:25 PM,42.019373,-87.670888,"(42.019372548, -87.670887574)"
5587,2002-01-21,W,648994.0,392312.0,1041306.0,2244116,HH518593,078XX S VINCENNES AVE,0890,THEFT,...,17.0,69.0,06,1175130.0,1853144.0,2002,02/28/2018 03:56:25 PM,41.752407,-87.633792,"(41.752406801, -87.633792381)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10724,2002-12-31,W,792623.0,456865.0,1249488.0,2523104,HH870125,007XX S CICERO AVE,3800,INTERFERENCE WITH PUBLIC OFFICER,...,24.0,25.0,26,1144508.0,1896325.0,2002,02/10/2018 03:50:01 PM,41.871531,-87.744927,"(41.871530533, -87.744926805)"
10725,2002-12-31,W,792623.0,456865.0,1249488.0,2524095,HH870311,046XX N BROADWAY,1350,CRIMINAL TRESPASS,...,46.0,3.0,26,1167894.0,1931043.0,2002,02/28/2018 03:56:25 PM,41.966327,-87.658064,"(41.966326696, -87.658064021)"
10726,2002-12-31,W,792623.0,456865.0,1249488.0,2536262,HH869648,019XX N WESTERN AVE,2027,NARCOTICS,...,1.0,22.0,18,1160062.0,1912639.0,2002,02/28/2018 03:56:25 PM,41.915991,-87.687371,"(41.915990756, -87.687370839)"
10727,2002-12-31,W,792623.0,456865.0,1249488.0,2537443,HH870456,001XX N STATE ST,2110,NARCOTICS,...,42.0,32.0,18,1176330.0,1901649.0,2002,02/10/2018 03:50:01 PM,41.885482,-87.627936,"(41.885481891, -87.627935689)"
10728,2002-12-31,W,792623.0,456865.0,1249488.0,2524503,HJ102485,055XX S STATE ST,0820,THEFT,...,3.0,40.0,06,1177219.0,1868295.0,2002,02/28/2018 03:56:25 PM,41.793936,-87.625680,"(41.793935909, -87.625680278)"